.container-marcas{
    width:100%;
    height: 120px;  
    max-width:500px;            
}


.card-marcas{
  width: 120px; 
  height:120px;
  margin: 2px 1.5333333%;
  margin-left:0px;
  background-color: white; 
  border: 1px solid #000000;     
  border-radius:  10px 10px 10px 10px;
  -moz-border-radius:    10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

  -webkit-box-shadow: 1px 7px 9px 0px rgba(128,124,128,1);
  -moz-box-shadow: 1px 7px 9px 0px rgba(128,124,128,1);
  box-shadow: 1px 7px 9px 0px rgba(128,124,128,1);

}

.card-marcas img {
  border-radius:  10px 10px 10px 10px;
  -moz-border-radius:    10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

   padding-top:0px;
   margin-top: 0px;
   max-height: 100%;
   width          : 100%;
   height         : 100%;
   background-size: cover;
}

.card-marcas-left{
   float: left;
}

.card-marcas-right{
   float: right;
}


.bloco-marcas{
  width: auto; 
  margin:2px;
  margin-left:0px;
  margin-bottom:5px;  
}


.bloco-marcas h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif, sans-serif;

    padding-top:15px ;
    padding-left:0px ;    
    margin-top:0px;
    margin-bottom:10px; 
}

.bloco-marcas h3 {
    margin-top:0px;
    padding-left:0px ;
    padding-top:0px
} 

.bloco-marcas h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  font-family: arial, sans-serif;

  margin-top:0px;
  padding-left:0px ;
  padding-top:0px
} 

.bloco-marcas h5 {
  margin-top:0px;
  padding-left:0px ;
  padding-top:0px  
} 





